body {
  margin: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #e6f0ff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: tomato;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-box {
  background-color: white;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

#username, #password {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

#login {
  padding: 10px;
  border-radius: 30px;
  border-style: hidden;
  font-family: Impact;
  font-size: larger;
  background-color: rgb(65, 65, 255);
  color: aliceblue;
}

button:hover {
  background-color: #000000;
}
